body {
  background-image: url('/TechSUAS/img/cadunico/background_cad.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}
* {
  margin-top: 0px;
}
img {
  display: flex;
  width: 100%;
  max-height: 120px
}
.red_text{
  color: #f40303;
}
.container{
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fffaf0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#btn_links{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

input[type="number"] {
  width: 90%;
}


#armario {
  color: #8b4513;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
}
.btns1{
  display: flex;
  justify-content: space-between;
}
button,a {
  background-color: #13294b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 10px;
  text-decoration: none;
}

#cod {
  font-size: 18px;
  margin-top: 30px;
}
button:hover,
a:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 1px #3b83f65f;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #13294b;
  color: #ffffff;
}

td {
  background-color: #fffaf0;
}

.form-container {
  margin-bottom: 20px;
}

#textarm{
font-size: 2cm;
}

.original-size {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

@media print {
  .form-container {
      display: none;
  }
}