body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow: auto;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items:stretch;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: 0;
}
h1{
    text-align: center;
}
.signature-line{
    text-align: center;
}
.paragraph {
    text-indent: 1.25cm;
    text-align: justify;
    margin: 0px;
}

.topic {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
}

.impr {
    margin-left: 90%;
    margin-top: 10px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.topic,
.right,
.paragraph1,
.cidade_data{
    display: none;
}
.titulo{
    display: none;
}
button,
a {
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-weight: 500;
    background-color: #13294b;
    color: white;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    text-transform: capitalize;
}

button:hover,
a:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b83f65f;
    color: #fff;
}

.editable-field {
    border: 1px solid #13294b;
    padding: 2px 20px;
    border-radius: 3px;
}

.signature-line {
    width: 600px;
    border-bottom: 1px solid #000;
    margin: 0px;
    text-align: center;
}

.cidade_data {
    align-self: flex-end;
    margin-left: 0;
}
p.paragraph1 {
    text-align: left;
    margin-left: 0;
    margin-top: 10px;
}

@media print {
    button {
        display: none;
    }

    .background-9876543-SUPORTE {
        margin: 0;
        padding: 0;
        background-image: url('/TechSUAS/img/geral/timbre_ddv.png');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }

    .background-2613008-CADUNICO {
        margin: 0;
        padding: 0;
        background-image: url('/TechSUAS/img/cadunico/timbre_cad.png');
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }

    body::after {
        content: none !important;
    }

    @page {
        size: auto;
        margin: 3mm 0mm 0mm 0mm;
    }

    .topic,
    .center,
    .right,
    .paragraph1,
    .cidade_data{
        display: block;
    }
    label,
    input {
        display: none;
    }

    .titulo {
        font-size: 10px;
        position: fixed;
        top: 30px;
        right: 20px;
        transform: translateY(50%);
        display: block;
        white-space: nowrap;
    }

    .tech {
        padding-right: 5px;
    }

    th.impr {
        display: none;
    }

    td.impr {
        display: none;
    }

    .editable-field {
        border: none;
        padding: 0px;
    }

    .cidade_data {
        margin-left: 0;
    }
    div.paragraph1 {
        text-align: right;
        margin-right: 0;
        margin-top: 200px;
    }
    .signature-line {
        margin: 0;
    }
    .container {
        margin-top: 100px;
    }
    .assinatura {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
}
