body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 2;
    padding: 0;
    text-align: justify;
    width: 80%;
    overflow: auto;
}
.titulo{
    display: none;
}
.container {
    width: 90%;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    padding-top: 100px;
}

.center1 {
    text-align: center;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.editable-field {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

.paragraph1 {
    margin-bottom: 20px;
}

.topic {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.impr {
    margin-left: 90%;
    margin-top: 10px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.topic,
.center,
.right,
.paragraph1 {
    display: none;
}

button,
a {
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-weight: 500;
    background-color: #13294b;
    color: white;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    text-transform: capitalize;
}

button:hover,
a:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b83f65f;
    color: #fff;
}
.editable-field{
    border: 1px solid #13294b;
    padding: 2px 20px;
    border-radius: 3px;
}
@media print {
    button {
        display: none;
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/TechSUAS/img/cadunico/timbre_cad.png');
        margin: 0;
        /* Define margem zero para a impressão */
    }

    body::after {
        content: none !important;
        /* Oculta o conteúdo após o corpo do documento */
    }

    @page {
        size: auto;
        /* ou A4, letter, etc., dependendo do tamanho da página que você deseja */
        margin: 3mm 0mm 0mm 0mm;
        /* Define margens da página */
    }
    
    .topic,
    .center,
    .right,
    .paragraph1 {
        display:block;
    }
    label,
    input{
        display: none;
    }
    .titulo {
        font-size: 10px;
        position: fixed; /* Posicionamento fixo */
        top: 30px; /* Posição no topo */
        right: 20px; /* Distância da direita */
        transform: translateY(50%); /* Ajuste para o centro vertical */
        display: block; /* Garante que seja exibido como bloco */
        white-space: nowrap; /* Impede que o texto quebre a linha */
    }
    .tech {
        padding-right: 5px;
    }
    th.impr{
        display: none;
    }
    .editable-field{
        border: none;
        padding: 0px;
    }

}