body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f8f0e3;
  color: #333;
  margin: 20px;
  padding: 20px;
}

h1 {
  color: #8b4513;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fffaf0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

input[type="number"] {
  width: 90%;
}

button {
  background-color: #8b4513;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-right: 10px;
}

#cod {
  font-size: 18px;
  margin-top: 30px;
}
button:hover {
  background-color: #a0522d;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2e6d9;
  color: #333;
}

td {
  background-color: #fffaf0;
}

.form-container {
  margin-bottom: 20px;
}

#textarm{
font-size: 2cm;
}

.container {
  display: inline-block;
  position: relative;
  width: 8cm;
  height: 3cm;
  margin: 5px;
  border: 1px solid #ccc;
}

.original-size {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

@media print {
  .form-container {
      display: none;
  }
}