@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    background-image: url(../../img/cadunico/background_cad.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

h3 {
    font-size: 18px;
    color: #13294b;
    text-align: center;
}

#ultimo_registro {
    text-align: right;
    color: #13294b;
}

#li1 {
    text-align: left;
    background-color: #ffffff;
}

#td_btn {
    text-align: center;
}

#li2 {
    text-align: center;
    background-color: #ffffff;
}
#li3 {
    text-align: right;
    background-color: #ffffff;
}

#table_last {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

img {
    display: flex;
    width: 100%;
    max-height: 120px
}

  /* Botão de Menu */
  .menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #13294b;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
  }
  .menu-btn:hover {
    background: #0f1e38;
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    background: #e6e2f7;
    color: #13294b;
    padding: 20px;
    transition: 0.3s;
    overflow-y: auto;
  }
  .sidebar.active {
    left: 0;
  }
  .sidebar::-webkit-scrollbar {
    width: 8px;
  }
  .sidebar::-webkit-scrollbar-thumb {
    background: #13294b;
    border-radius: 4px;
  }

  /* Botão Fechar */
  .close-btn {
    background: #13294b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .close-btn:hover {
    background: #0f1e38;
  }

  /* Seções do menu */
  .section-btn {
    background: #13294b;
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 84%;
    text-align: left;
    font-weight: bold;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .section-btn:hover {
    background: #1e4278;
  }

  .btn_separado {
    background: #13294b;
    color: white;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    width: 75%;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
  }

  .conteiner {
    margin: 20px;
    padding: 20px;
  }

  /* Itens das seções */
  .section-content {
    display: none;
    padding: 5px;
  }
  .section-content a {
    display: block;
    padding: 8px;
    background: #f8f8ff;
    color: #13294b;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: 0.3s;
  }
  .section-content a:hover {
    background: #3b82f6;
    color: white;
  }

  /* Links úteis */
  .sidebar a {
    display: block;
    padding: 8px;
    color: #13294b;
    text-decoration: none;
    border-radius: 5px;
  }
  .sidebar a:hover {
    background: #3b82f6;
    color: white;
  }
  
.bloc1,
.bloc2,
.upload,
.btn {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tabelinha {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 3PX;

}
td {
    padding: 0;
}

th {
    background-color: #f4f4f4;
    text-align: center;
    padding: 2px;
}



.bloc2 {
    flex-direction: row-reverse;
}


.observ,
#data_entre,
.upl {
    margin-left: 50px;
}

textarea {
    height: 55px;
    width: 500px;
    border-radius: 5px;
}

.situacao,
.observ {
    line-height: 2;
}
.bloc1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tudo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}
.btns_tudo{
    display: flex;
    flex-direction: column;
    width: min-content;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5px;
}

.nav a {
    flex: 1;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #13294b;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
#success-icon{
    background-color: #13294b;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px 25px;
    margin-left: 10px;
}
.btn1{
    margin-top: 20px;
    font-size: 12px;
}
nav a:hover {
    background-color: #3b82f6;
    transform: scale(1.03);
}
input#arquivo{
    display: block;
    width: 400px;
    height: 50px;
}
.cadastrar {
    margin-right: 40px;
}

a {
    margin-top: 5px;
}

.btns {
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    line-height: 2;
    border-left: 2px solid #13294b;
    margin-left: 0px;
    white-space: nowrap;
    margin-left: 10px;
}

button {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 25px;
    border: none;
    font-weight: 500;
    background-color: #13294b;
    color: white;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}

.upload,
.bloc2 {
    margin-top: 20px;
}
.upload{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.coment{
    font-size: 12px;
}
button:hover,
a:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 1px #3b83f65f;
    color: #fff;
}

.ocult2 {
    width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    line-height: 2;
    max-height: 400px; /* Altura máxima para a caixa de rolagem */
    overflow-y: auto; /* Habilita a rolagem vertical */
    border: 1px solid #13294b; /* Borda opcional para melhor visualização */
    padding: 10px; /* Espaçamento interno opcional */
    scrollbar-color: #13294b #f1f1f1;
}

input,
select,
option,
label,
/* span, */
#familia_show,
#arquivo_show,
#data_entrevista,
#codfamiliar_print,
#data_entre {
    background-color: #ffffff;
    color: #13294b;
    border-radius: 5px;
    padding: 1px 2px;
    border-style: outset;
}

.ocult .ocult1 {
    display: none;
}

i.material-symbols-outlined {
    font-size: 14px;
}

.visible {
    display: block;
}

.check {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilizando o checkbox */
.urg input[type="radio"] {
    display: none;
}

/* Estilizando o visual do checkbox */
.urg .checkmark {
    display: inline-block;
    width: 16px;
    /* Tamanho do checkbox */
    height: 16px;
    /* Tamanho do checkbox */
    border-radius: 50%;
    /* Deixa o checkbox redondo */
    border: 2px solid #13294b;
    /* Borda do checkbox */
    position: relative;
    vertical-align: middle;
    cursor: pointer;
}

/* Altera o visual quando marcado */
.urg input[type="radio"]:checked+.checkmark::after {
    content: "X";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: red;
}
