body {
  background-image: url('/TechSUAS/img/cadunico/background_cad.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
  font-family: "Inter", sans-serif;
}

.conteiner-arm {
  display: inline-block;
  position: relative;
  width: 3cm;
  height: 2cm;
  margin: 2px;
}

table {
  border-radius: 5px;
  width: 100%;
  color: #13294b;
}

th {
  font-size: 16px;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-radius: 3px;
  top: 99px; /* Agora o cabeçalho da tabela ficará fixo logo abaixo do form */
  z-index: 999;
}

input[type="text"],
input[type="number"],
select {
  width: calc(100% - 2px);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

/* Container da tabela */
#tabela-container {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
}

.contein-gav {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 1;
  padding: 10px;
}
.pasta {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.column {
  border: 1px solid #000;
  padding: 10px;
}
.column h3 {
  text-align: center;
}

form {
  background-color: #d1cdf4;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
}